body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKFV12VFW_vY_-9WYtZJXwIGx-MnRRx7-nUFekzrma3gYuwwMLVA");
  background-repeat: no-repeat;
  background-size: cover;
}
