#intro p{
  float:right;
}
#intro img{
  float:left;
}
#about p{
  color:black;
  font-size:20px;
}
#hobbies{
  padding:20px;
  background-color: black;
  opacity:0.6;
  color:white;
  text-decoration: none;
}
#hobbies p{
  color:white;
  text-decoration: none;
}
#about{
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}
