body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNh1x_JmN44yYy5p5pLrkvse2vjbA8Fw8MN-SPiluNh9jpV5P8");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
  color:white;
  text-decoration: none;
}
#hobbies{
  float:right;
  color:white;
}
